body {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

main {
margin-top:20px;

}

.card {
    width: 30%;
    margin-bottom: 20px;
}
.card-text {
    margin-bottom: 44px;
}

.show-wrapper {
    
   display:flex;
    justify-content: space-between;
    height:200px;
    flex-wrap: wrap;
}

.show-preview {
position:absolute;
width: 90%;
height: 800px;

display: none;;
z-index: 6;
transform: translate(5%, 10px);
}

.buttonInShowList {
    position: absolute;
    bottom: 15px;
}